html {
  background-color: antiquewhite;
}
body {
  text-align: center;
  font-size: 18px;
}
#pro {
  width: auto;
}

/* Media Query Homework */
/* Navigation Menu  ul */
@media screen and (max-width: 375px) {
}
  #aboutMe {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
  #aboutMe li {
    text-align: center;
}
  #aboutMe li a {
    display: block;
    padding: 10px;
}

/* Responsive Images  tags */
img {
  width: 100%; /* Make images responsive */
  max-width: 100%; /* Ensure images do not exceed their container */
  border-width: 2px; /* Add border width */
}
/* Spacing for div tags */
div {
  padding: 15px;    /* Add padding */
  margin: 10px 0; /* Add vertical margin */
}
/* headings are too big so adjust font size */
h1 {
  font-size: 1.8rem;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
}
}
